.chat {
  background-color: rgba(255, 255, 255, 0.15);
  /*border: 2px solid white;*/
  border-radius: 5px;
  margin: 3%;
  margin: 1px;
}

.nombre-chat {
  background-color: #ff6344;
  color: #000000;
  font-size: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid black;
}

.descripcion,
.jugadores {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10%;
  margin-right: 5%;
}

textarea {
  width: 100%;
}

.btn-enviar {
  font-family: "Patua One", cursive;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
}

.btn-enviar {
  background-color: #facb00;
}
