.chats {
  margin-top: 80px;
  width: 100%;
  height: auto;
}

.nombres {
  text-align: center;
}

.btn-nombre {
  background: transparent;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

.btn-nombre:hover {
  background-color: #ff6344;
  color: #FFFFFF;
}