.error {
  color: red;
}
.form-textarea {
  width: 80%;
  text-align: left;
}

.quest-name {
  width: 80%;
}

.form-row {
  margin-bottom: 5%;
}

.MuiInputBase-root,
.MuiSvgIcon-root {
  color: white !important;
}

.MuiInput-underline::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.42) !important;
}

.MuiInput-underline::after {
  border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
}
#date-picker-inline-label {
  font-family: "Patua One", cursive;
  font-size: 25px;
  color: white;
  margin-bottom: 100px;
}

.crear-mision {
  background-color: rgba(255, 255, 255, 0.15);
  width: 70%;
  height: 80%;
  border-radius: 10px;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-top: 7%;
  margin-bottom: 1%;
}

.form {
  text-align: center;
}

input,
textarea {
  background: transparent;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-align: center;
}
#minJugadores {
  margin-right: 10px;
}

label {
  font-family: "Patua One", cursive;
  font-size: 20px;
}

p {
  font-family: "Oswald", sans-serif;
}

.btn-crear {
  background-color: #ff6344;
  border: none;
  border-radius: 5px;
  font-family: "Patua One", cursive;
  font-size: 24px;
  color: #000000;
}
