.inicio {
  background-color: rgba(255, 255, 255, 0.15);
  width: 70%;
  height: 70%;
  border-radius: 10px;

  position: absolute;
  left: 15%;
  top: 20%;
  bottom: 20%;
  right: 20%;
}

.registro {
  margin: auto;
  text-align: center;
  margin-top: 6%;
}

.inicio-sesion,
.form {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  align-content: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

label {
  font-family: "Patua One", cursive;
  font-size: 20px;
  padding-bottom: 10px;
}

p {
  font-family: "Oswald", sans-serif;
  margin-bottom: 1px;
  margin-top: 1px;
}

.registrar {
  color: #ff6344;
}

.btn-inicio {
  background-color: #ff6344;
  border: none;
  border-radius: 5px;
  font-family: "Patua One", cursive;
  font-size: 24px;
  color: #000000;
}

.error {
  color: red;
}
