.input-stats {
  width: 100%;
}

.input-juego {
  margin-left: 3%;
  margin-top: 3%;
}

.label-juego {
  font-size: 1.2rem;
}

.juego-btn {
  padding: 0;
}

.chat-msg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.msg-date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.btn-terminar {
  background-color: #facb00;
  border: none;
}

.row-terminar {
  margin-top: 1%;
}

.col-terminar {
  text-align: right;
}

.chat-new-message {
  border-radius: 5px;
  border: 2px solid rgba(15, 15, 15, 1);
  width: 100%;
}

.col-jugadores {
  padding-top: 7px;
  padding-left: 0;
}

.col-3 {
  padding-left: 0;
}

.chat-text {
  font-family: "Oswald", sans-serif;
}

.chat-username-user {
  font-family: "Patua One", cursive;
  color: #facb00;
}

.chat-username-dismissed {
  font-family: "Patua One", cursive;
  color: #ff6344;
}

.chat-username {
  font-family: "Patua One", cursive;
}

.btn-chat {
  background: url(./chat.png);
  height: 28px;
  width: 28px;
  margin-left: 5px;
}

.modal-btn-close {
  padding-right: 0;
  margin-top: 10px;
}

.mision-row-2 {
  margin-top: 1%;
}

.modal {
  background-color: rgba(15, 15, 15, 0.8);
}

.modal-content {
  background-color: rgba(23, 23, 23, 1);
}

.close {
  color: rgba(255, 255, 255, 1);
}

.modal-title {
  font-size: 24px;
}

.close:hover {
  color: #ff6344;
}

.modal-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-description {
  padding-left: 5%;
  padding-bottom: 16px;
  overflow-wrap: break-word;
}

.row-modal-body {
  padding-top: 16px;
  border-top: 1px solid white;
}

.modal-body {
  border-bottom: 1px solid white;
  padding-left: 0;
  padding-right: 0;
}

.modal-footer {
  border-top: 0;
}

.platform-logo-modal {
  padding-left: 2px;
  padding-bottom: 2px;
  border-radius: 0 0 0 5px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.platform-logo {
  padding: 0;
}
.platform-logo-img {
  border-radius: 0 0 0 5px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.miptobtn {
  float: right;
}
.jugadores {
  text-align: center;
}
.finish-modal {
  text-align: center;
  margin-left: 33%;
  margin-bottom: 5%;
}
.disp-jugadores-modal {
  margin-top: 10px;
  padding-left: 2.5%;
}
.jugadores-modal {
  padding-left: 2.5%;
  text-align: left;
}
.game {
  margin-top: 1%;
  margin-bottom: 10px;
  margin-left: 1%;
}

.game-col {
  padding-left: 0px;
}

.game-name {
  margin-top: 4px;
  font-size: 20px;
}

.row-jugadores {
  margin-left: 1%;
}

.game-name-modal {
  margin-top: 10px;
  font-size: 20px;
}

.finish {
  text-align: right;
  font-size: 15px;
}

.game-logo {
  height: 40px;
  width: 40px;
}

.finish {
  float: right;
}

.mision {
  background-color: rgba(255, 255, 255, 0.15);
  /*border: 2px solid white;*/
  border-radius: 5px;
  margin: 1.5%;
}

.nombre {
  font-size: 24px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid white;
}

.juego-descripcion {
  margin-top: 2%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-bottom: 2%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10%;
  margin-right: 5%;
}

.descripcion,
.jugadores {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10%;
  margin-right: 5%;
}

/*.btn-rechazar,
.btn-unirse {
  font-family: "Patua One", cursive;
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}*/

.btn-unirse {
  background-color: #43b31b;
  font-family: "Patua One", cursive;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}
.col-btn {
  padding: 0;
}
.btn-rechazar {
  background-color: #ff6344;
  font-family: "Patua One", cursive;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

.btn-eliminar {
  background-color: #ff6344;
  font-family: "Patua One", cursive;
  width: 100%;

  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

.btn-mas-info {
  background-color: #facb00;
  font-family: "Patua One", cursive;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

/*.modal {
  background-color: black;
  font-size: 12px;
}

.modal .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal .content {
  width: 100%;
  padding: 10px 5px;
}
.modal .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}*/
