.mision {
  background-color: rgba(255, 255, 255, 0.15);
  /*border: 2px solid white;*/
  border-radius: 5px;
  margin: 1.5%;
}

.nombre {
  font-size: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid white;
}

.descripcion,
.jugadores {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10%;
  margin-right: 5%;
}

/*.btn-rechazar,
.btn-unirse {
  font-family: "Patua One", cursive;
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}*/

.btn-unirse {
  background-color: #facb00;
  font-family: "Patua One", cursive;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

.btn-rechazar {
  background-color: #ff6344;
  font-family: "Patua One", cursive;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

.btn-eliminar {
  background-color: #ff6344;
  font-family: "Patua One", cursive;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

.btn-mas-info {
  background-color: #ffffff;
  font-family: "Patua One", cursive;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 22px;
  margin-top: 10px;
}

.logo {
  text-align: right;
}

.modal {
  background-color: black;
  font-size: 12px;
}

.modal .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal .content {
  width: 100%;
  padding: 10px 5px;
}
.modal .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}