.navbar-logo {
  margin-left: 20px;
  width: 50px;
  height: 100%;
}

.navbar-dark {
  background-color: #000000;
  border-bottom: 0.5px solid white;
}

.needPadding {
  padding-top: 14px;
}

.dropdown-menu {
  background-color: #000000;
}

.dropdown-item:hover {
  background-color: #000000;
}

.nav-link-disabled {
  color: rgba(255, 255, 255, 0.5);
  margin: 6px;
}

.nav-link-disabled:hover {
  color: #ffffff;
  margin: 6px;
}

.nav-link,
.active {
  color: #ffffff;
  margin: 6px;
}

body {
  font-family: "Patua One", cursive;
}
