.navbar-brand-modified {
  background-color: #facb00;
  border-radius: 15px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.logo-disabled {
  pointer-events: none;
  cursor: default;
}

.navbar-brand-modified:hover {
  margin-left: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-dark {
  background-color: #000000;
  border-bottom: 0.5px solid white;
}

.needPadding {
  padding-top: 14px;
}
.disabled {
  margin-left: 10px;
}

.dropdown-item.disabled {
  color: rgba(255, 255, 255, 0.3);
}

.dropdown-menu {
  background-color: #000000;
}

.dropdown-item:hover {
  background-color: #000000;
}

.nav-link-disabled {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  cursor: default;
  margin: 10px;
}

.nav-link2 {
  color: rgba(255, 255, 255, 0.6);
  margin: 10px;
}

.nav-link2:hover {
  color: #ffffff;
  margin: 6px;
}

.nav-link,
.active {
  color: #ffffff;
  margin: 6px;
}

body {
  font-family: "Patua One", cursive;
}
